/* #! scss */
.blog {
  box-sizing: border-box;
  float: left;
  position: relative;
  width: 85%;
  background-color: red;
  height: 100%;
}

.sidebar {
  box-sizing: border-box;
  position: relative;
  float: left;
  height: 100%;
  width: 15%;
  left: 0;
  border-right: 5px solid #30672f;
}

#unitus--blog .sidebar:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -42px;
  margin-top: -7px;
  border: 21px solid white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  z-index: 2;
}
#unitus--blog .sidebar:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -56px;
  margin-top: -14px;
  border: 28px solid #30672f;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  z-index: 1;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
