/* #! scss */
.unitus__blog {
  box-sizing: border-box;
  float: left;
  position: relative;
  height: 100%;
  width: 85%;
  background-image: red;
}

.blog .blog__top {
  background-size: cover;
  height: 100%;
  background-position: center;
  background-image: url("../img/back.jpg");
}
.blog .blog__top .top__smoke {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.blog .blog__top .top__content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.blog .blog__top .top__content .content__table {
  display: table;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.blog .blog__top .top__content .content__table .table__title {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  color: white;
}

.unitus__sidebar {
  box-sizing: border-box;
  position: relative;
  float: left;
  height: 100%;
  width: 15%;
  left: 0;
  border-right: 5px solid #30672f;
}

#unitus--blog .unitus__sidebar:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -42px;
  margin-top: -7px;
  border: 21px solid white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  z-index: 2;
}
#unitus--blog .unitus__sidebar:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -56px;
  margin-top: -14px;
  border: 28px solid #30672f;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  z-index: 1;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.clear {
  clear: both;
}
