body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.clear {
  clear: both;
}

.shimmer {
  font-family: serif;
  font-weight: 400;
  font-size: 2.4em;
  margin: 0 auto;
  padding: 0 0 0 0;
  margin-bottom: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.1);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8080', endColorstr='#5eb524',GradientType=1 );
  background-repeat: no-repeat;
  background-position: top left;
  background-color: #222222;
  color: transparent;
}

/* #! scss */
@-webkit-keyframes move-back {
  0% {
    opacity: 0;
    margin-right: -20%;
    margin-top: -20%;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    margin-right: 0%;
    margin-top: 0%;
  }
}
@-moz-keyframes move-back {
  0% {
    opacity: 0;
    margin-right: -20%;
    margin-top: -20%;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    margin-right: 0%;
    margin-top: 0%;
  }
}
@-ms-keyframes move-back {
  0% {
    opacity: 0;
    margin-right: -20%;
    margin-top: -20%;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    margin-right: 0%;
    margin-top: 0%;
  }
}
@-o-keyframes move-back {
  0% {
    opacity: 0;
    margin-right: -20%;
    margin-top: -20%;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    margin-right: 0%;
    margin-top: 0%;
  }
}
@keyframes move-back {
  0% {
    opacity: 0;
    margin-right: -20%;
    margin-top: -20%;
  }

  50% {
    opacity: 0;
  }

  70% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    margin-right: 0%;
    margin-top: 0%;
  }
}
@-webkit-keyframes move-logo {
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
@-moz-keyframes move-logo {
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
@-ms-keyframes move-logo {
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
@-o-keyframes move-logo {
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
@keyframes move-logo {
  100% {
    margin-top: 0%;
    opacity: 1;
  }
}
@-webkit-keyframes move-menu {
  0% {
    left: -200px;
  }

  100% {
    left: 0px;
  }
}
@-moz-keyframes move-menu {
  0% {
    left: -200px;
  }

  100% {
    left: 0px;
  }
}
@-ms-keyframes move-menu {
  0% {
    left: -200px;
  }

  100% {
    left: 0px;
  }
}
@-o-keyframes move-menu {
  0% {
    left: -200px;
  }

  100% {
    left: 0px;
  }
}
@keyframes move-menu {
  0% {
    left: -200px;
  }

  100% {
    left: 0px;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
@-ms-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}
.unitus.unitus--top .unitus__first {
  position: absolute;
  width: 100%;
  height: 100%;
}
.unitus.unitus--top .unitus__first .first__table {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.unitus.unitus--top .unitus__first .first__table .table__content {
  display: table-cell;
  vertical-align: middle;
  font-size: 42px;
  font-family: serif;
}
.unitus.unitus--top .unitus__first .first__table .table__content strong {
  font-size: 58px;
}
.unitus.unitus--top .unitus__first .first__table .table__content strong.p {
  color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8080', endColorstr='#5eb524',GradientType=1 );
  background: -webkit-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: -moz-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: -ms-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: -o-linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  background: linear-gradient(left, #ed8080 0%, #2a77d6 16%, #5eb524 32%, #eacd25 48%, #ed8080 64%, #2a77d6 80%, #5eb524 100%);
  -webkit-background-size: 300% 300%;
  -moz-background-size: 300% 300%;
  -ms-background-size: 300% 300%;
  -o-background-size: 300% 300%;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 5s ease 0 infinite alternate none;
  -moz-animation: shimmer 5s ease 0 infinite alternate none;
  -ms-animation: shimmer 5s ease 0 infinite alternate none;
  -o-animation: shimmer 5s ease 0 infinite alternate none;
  animation: shimmer 5s ease 0 infinite alternate none;
}
.unitus.unitus--top .unitus__first .first__table .table__content strong.l {
  color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5eb524', endColorstr='#2a77d6',GradientType=1 );
  background: -webkit-linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  background: -moz-linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  background: -ms-linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  background: -o-linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  background: linear-gradient(left, #5eb524 0%, #eacd25 16%, #ed8080 32%, #2a77d6 48%, #5eb524 64%, #ed8080 80%, #2a77d6 100%);
  -webkit-background-size: 300% 300%;
  -moz-background-size: 300% 300%;
  -ms-background-size: 300% 300%;
  -o-background-size: 300% 300%;
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-animation: shimmer 5s ease 0 infinite alternate none;
  -moz-animation: shimmer 5s ease 0 infinite alternate none;
  -ms-animation: shimmer 5s ease 0 infinite alternate none;
  -o-animation: shimmer 5s ease 0 infinite alternate none;
  animation: shimmer 5s ease 0 infinite alternate none;
}

.unitus__blog {
  box-sizing: border-box;
  float: left;
  position: relative;
  height: 100%;
  width: 85%;
  overflow: scroll;
  background-position-y: 0;
  background-image: url("../img/back.jpg");
  background-size: cover;
}

.blog .blog__top {
  position: relative;
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.blog .blog__top .top__header {
  display: none;
  width: 85%;
  position: fixed;
  top: 0;
  text-align: center;
  color: white;
  z-index: 5;
  padding: 15px;
  background-color: #3f68a2;
}
.blog .blog__top .top__header .header__title {
  opacity: 0;
}
.blog .blog__top .top__smoke {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #3f68a2;
  opacity: 0;
  z-index: 1;
}
.blog .blog__top .top__content {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.blog .blog__top .top__content .content__table {
  display: table;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.blog .blog__top .top__content .content__table .table__title {
  text-shadow: 1px 1px 1px #5e2e73;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-size: 44px;
  font-family: serif;
  color: white;
}
.blog .blog__content {
  box-sizing: border-box;
  padding: 50px;
  width: 100%;
  height: auto;
  background-color: white;
}
.blog .blog__content .content__text {
  box-sizing: border-box;
  padding: 100px 100px;
  font-size: 20px;
  line-height: 30px;
  font-family: serif;
  background-color: white;
  border-radius: 5px;
  border: solid 3px #df642e;
}

.unitus__sidebar {
  box-sizing: border-box;
  position: relative;
  float: left;
  height: 100%;
  width: 15%;
  left: 0;
  border-right: 5px solid #3f68a2;
}

.unitus--blog .unitus__sidebar:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -42px;
  margin-top: -7px;
  border: 21px solid white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  z-index: 3;
}
.unitus--blog .unitus__sidebar:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: -56px;
  margin-top: -14px;
  border: 28px solid #3f68a2;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 0;
  height: 0;
  z-index: 2;
}

.unitus__menubar {
  width: 200px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  height: 100%;
  position: absolute;
  left: -200px;
  -webkit-animation: move-menu 1s ease 8s 1 alternate both;
  -moz-animation: move-menu 1s ease 8s 1 alternate both;
  -ms-animation: move-menu 1s ease 8s 1 alternate both;
  -o-animation: move-menu 1s ease 8s 1 alternate both;
  animation: move-menu 1s ease 8s 1 alternate both;
}

.menubar .menubar__table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}
.menubar .menubar__table .table__content {
  display: table-cell;
  vertical-align: middle;
  font-family: serif;
  color: white;
  font-size: 24px;
}
.menubar .menubar__sub {
  overflow: hidden;
  width: 0px;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  left: 200px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menubar .menubar__sub.show {
  width: 120px;
}
.menubar .menubar__sub .sub__table {
  box-sizing: border-box;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding: 15px;
}
.menubar .menubar__sub .sub__table .table__content {
  display: table-cell;
  vertical-align: middle;
  color: white;
  white-space: nowrap;
  font-family: serif;
  line-height: 1.7;
  font-size: 15px;
}

.unitus__top-animate.top-animate {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.top-animate img.top-animate__img {
  -webkit-animation: move-back 8s linear 0s 1 alternate both;
  -moz-animation: move-back 8s linear 0s 1 alternate both;
  -ms-animation: move-back 8s linear 0s 1 alternate both;
  -o-animation: move-back 8s linear 0s 1 alternate both;
  animation: move-back 8s linear 0s 1 alternate both;
  width: 120%;
  height: auto;
  position: absolute;
  right: 0;
  opacity: 0;
}
.top-animate .top-animate__logo {
  -webkit-animation: move-logo 2s linear 8s 1 alternate both;
  -moz-animation: move-logo 2s linear 8s 1 alternate both;
  -ms-animation: move-logo 2s linear 8s 1 alternate both;
  -o-animation: move-logo 2s linear 8s 1 alternate both;
  animation: move-logo 2s linear 8s 1 alternate both;
  position: absolute;
  z-index: 2;
  right: 100px;
  top: 30px;
  color: #5e2e73;
  margin-top: -40%;
}
.top-animate .top-animate__logo .logo__main {
  font-size: 40px;
  font-weight: bold;
  font-family: cursive, serif;
}
.top-animate .top-animate__logo .logo__sub {
  font-size: 13px;
  position: relative;
  top: 14px;
  left: 16px;
}
