%html
  %head
    %link{ rel: "stylesheet", type: "text/css", href: "css/application.css"}
    %script{src: "js/min/jquery.min.js"}
    %meta{charset: "UTF-8"}
  %body
    .unitus.unitus--top#body
      .menubar.unitus__menubar#menu
        .menubar__table
          .table__content
            Menu
        .menubar__sub#submenu
      .unitus__first
        .first__table
          .table__content
            %strong.p<>
              想像
            を、
            %strong.l<>
              創造
            する
      .unitus__top-animate.top-animate
        %img.top-animate__img{src: "img/top1-1.jpg"}
        .top-animate__logo
          .logo__sub
            想像を創造する。
          .logo__main
            Unitus

    %script
      $("#menu").on("mouseover", function(e){e.stopPropagation(); console.log("hoge"); $("#submenu").addClass("show");});
      $("#body").on("mouseover", function(){console.log("out"); $("#submenu").removeClass("show");});