%html
  %head
    %link{ rel: "stylesheet", type: "text/css", href: "../css/application.css"}
    %script{src: "../js/min/jquery.min.js"}
    %script{src: "../js/min/jquery.arctext.min.js"}
  %body
    #unitus--blog.unitus
      .unitus__sidebar.sidebar
      .unitus__blog.blog
        .blog__top
          .top__smoke
          .top__content
            .content__table
              .table__title
                ハッカソン大会に参加して
      .clear
