.unitus__blog
  box-sizing: border-box
  float: left
  position: relative
  width: 85%
  background-image: red
  height: 100%
.blog
  .blog__top
    .top__smoke
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,0.3)
      z-index: 1


