.unitus__blog
  box-sizing: border-box
  float: left
  position: relative
  height: 100%
  width: 85%
  background-image: red

.blog
  .blog__top
    background-size: cover
    height: 100%
    background-position: center
    background-image: url("../img/back.jpg")
    .top__smoke
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,0.3)
      z-index: 1


