.sidebar
  position: absolute
  height: 100%
  width: 210px
  left: 0
  border-right: 5px solid rgb(48, 103, 47)
#unitus--blog
  .sidebar:before
    content: ""
    display: block
    position: absolute
    top: 50%
    right: -42px
    margin-top: -7px
    border: 21px solid white
    border-top-color: transparent
    border-right-color: transparent
    border-bottom-color: transparent
    width: 0
    height: 0
    z-index: 1
  .sidebar:after
    content: ""
    display: block
    position: absolute
    top: 50%
    right: -56px
    margin-top: -14px
    border: 28px solid rgb(48, 103, 47)
    border-top-color: transparent
    border-right-color: transparent
    border-bottom-color: transparent
    width: 0
    height: 0